body{
    font-family : sans-serif;
}
#search{
    height: 90vh;
}

#emptyPrompt {
    display: none;
    color: red;
}

Img{
    display:block;
    margin:auto;  
    margin-top:2%;
    width:30%;
}

Textarea{
    border: 1px solid #b1b1cd;
    display:inline-flex; 
    height:60px;
    background-color:#e0e0eb;
    margin-top:2%;
    font-size: 200%;
}

#keyword{
    display: block;
    margin: auto;
    position: relative;
    left: -18%;
    width: 700px;
    resize: none;
    width: 30%;
}
#numTweets{
    display: block;
    margin: auto;
    width: 350px;
    transform: translateY(-100%);
    position: relative;
    left: 10%;
    resize: none;
    width: 15%;
}

Button{
    margin: 2% 0 0 47%;
    height:50px;
    width:120px;
    border-radius:5%;
    background-color:  #b1b1cd;
    font-size: 180%;
    cursor: pointer;
}


#results{
    display:none;
    height:100vh;
    background-color: #e0e0eb;
    
}

#mapContainer{
    clear: left;
}

#sentimentsContainer{
    float: left;
    width: 600px;
    margin:  25px 0 25px 300px;

}

#spam_holder{
    float:right;
    height: 150px;
    width: 250px;
    color: black;
    margin-right: 450px;
    margin-top:60px;
    background-color:  #b1b1cd;
    font-size: 200%;

}

#unkownCountry{
    float :right;
    height: 150px;
    width: 250px;
    margin-top: 50px;
    background-color:  #b1b1cd;
    font-size: 200%;
    margin-right: 450px;
    color: black;
    
}
